<table width="100%" align="center" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" style="text-align:center;font-family:Arial, Helvetica, sans-serif;color:#000000; font-size:12px; ">
<tbody>
<tr>
<td>
        <table width="600" cellpadding="0" cellspacing="0" align="center" style="font-size:12px;">
        <tbody>
                <tr><td height="10" align="center" style="color:#FFFFFF;"></td></tr>
        </tbody>
        </table>
</td>
</tr>
<tr>
<td>
<table cellpadding="0" cellspacing="0" width="600" bgcolor="#FFFFFF" align="center" >
<tr><td height="5" bgcolor="#25aa7e"></td></tr>
<tr>
    <td align="center"><a href="#" target="_blank" style="border:none;"><img src="http://www.nylic.com.ec/images/d327485.png" style="display:block;" border="0" height="70"/></a></td>
</tr>
</table>
<table cellpadding="0" cellspacing="0" width="600" bgcolor="#FFFFFF" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; background:url(tuEmpresaBackground); background-repeat:no-repeat; background-size: 40%; background-position: center;">
<tr>
    <td height="155" align="left" style="font-family:Arial, Helvetica, sans-serif; text-align:left;">
    <p style="color:#000000; font-size:22px; margin-left: 10px;">NUQUES Y LUQUE INGENIEROS CONSULTORES <br/> RUC: 0991002685001</p>
    <p style="color:#878787; font-size:16px; margin-left: 10px;">Av. Carlos Julio Arosemena Km. 2.5<br/>info@nylic.com.ec</p>
    </td>
</tr>
<tr>
<td>
    <table cellpadding="0" cellspacing="0" width="600">
    <tr>
        <td width="600" align="center">
        
        </td>
    </tr>
    </table>
</td>
</tr>
</table>
<table cellpadding="0" cellspacing="0" width="600" bgcolor="#eaeaea" align="center" style="font-family:Arial, Helvetica, sans-serif;">
<tr><td height="10"></td></tr>
<tr><td>
        <table cellpadding="0" cellspacing="0" width="600" bgcolor="#eaeaea" align="center" style="font-family:Arial, Helvetica, sans-serif;">
        <tr>
                <td width="145">
                </td>
                <td width="150" height="30" bgcolor="#33cc99" align="center" style="background-color:#33cc99; text-align:center; border-bottom:3px solid #25aa7e;">
                <a href="accionEmpresa" target="_blank" style="font-size:15px; color:#FFFFFF; text-decoration:none;">botonEmpresa</a>
                </td>
                <td width="145">
                </td>
        </tr>
        </table>
</td></tr>
<tr><td height="10"></td></tr>
</table>
</td>
</tr>
<tr><td>
<table cellpadding="0" cellspacing="0" width="600" bgcolor="#676767" align="center">
<tr>
<td height="80" width="10"></td>
<td height="80" width="100">
<a href="#" target="_blank" style="border:none;"><img src="tuEmpresaImgFooter" border="0" width="90" height="75"/></a>
</td>
<td height="80" width="10"></td>
<td height="80" width="465" align="left" style="font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-size:12px; text-align:left;">
        <strong style="font-size:14px;">tuEmpresaNombre</strong><br />
        Direcci&oacute;n tuEmpresaDireccion<br />
        N&uacute;mero de tel&eacute;fono tuEmpresaNumeros
</td>
<td width="30"><a href="tuEmpresaLinkFb" target="_blank" style="border:none;"><img src="tuEmpresaImgFb" border="0" /></a></td>
<td width="15"></td>
<td width="30"><a href="tuEmpresaLinkTw" target="_blank" style="border:none;"><img src="tuEmpresaImgTw" border="0" /></a></td>
<td height="80" width="30"></td>
</tr>
</table>
</td></tr>
</tbody>
</table>
