<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Documentos
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:commandButton value="PROCESAR" actionListener="#{documentos.procesoCosulta()}"/>
                    <br/>
                    <p:dataTable value="#{documentos.autorizadosLazy}" var="da" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                 reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{da.id}"
                                 selection="#{documentos.autorizadosList}">
                        <p:column selectionMode="multiple" style="width:25px;text-align:center;"/>
                        <f:facet name="header">Documentos</f:facet>
                        <p:column headerText="Id" width="70" filterBy="#{da.id}" filterStyle="width: 95%" >
                            <p:outputLabel value="#{da.id}"/>
                        </p:column>
                        <p:column headerText="Tipo" filterBy="#{da.documento}" width="50" filterStyle="width: 95%">
                            <p:outputLabel value="#{da.documento}"/>
                        </p:column>
                        <p:column headerText="Documento" filterBy="#{da.numeroDocumento}" filterStyle="width: 95%">
                            <p:outputLabel value="#{da.numeroDocumento}"/>
                        </p:column>
                        <p:column headerText="Identificacion" filterBy="#{da.identificacion}" filterStyle="width: 95%">
                            <p:outputLabel value="#{da.usuarioId.identificacion}"/>
                        </p:column>
                        <p:column headerText="Nombre" filterBy="#{da.nombre}" filterStyle="width: 95%">
                            <p:outputLabel value="#{da.usuarioId.nombre}"/>
                        </p:column>
                        <p:column headerText="Emision" width="70">
                            <p:outputLabel value="#{da.fechaEmision}"/>
                        </p:column>
                        <p:column headerText="Valor" width="60" style="text-align: right;">
                            <p:outputLabel value="#{da.total}"/>
                        </p:column>
                        <p:column headerText="PDF" width="70">
                            <p:commandButton icon="fa fa-file-pdf-o" actionListener="#{documentos.descargarPdf(da)}" ajax="false"/>
                        </p:column>
                        <p:column headerText="RIDE" width="70">
                            <p:commandButton icon="fa fa-file-text" actionListener="#{documentos.descargarXml(da)}" ajax="false"/>
                        </p:column>
                        <p:column headerText="Email" width="70">
                            <p:commandButton icon="fa fa-envelope" actionListener="#{documentos.enviarCorreo(da)}"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>