<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Empresas
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <br/>
                    <p:dataTable value="#{empresas.empresaLazy}" var="emp" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                 reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{emp.id}"
                                 selectionMode="single" selection="#{empresas.empresa}">
                        <p:ajax event="rowDblselect" oncomplete="PF('dlgEmpresa').show();" update="frmdlgEmpresa"/>
                        <f:facet name="header">Empresas</f:facet>
                        <p:column headerText="Id" width="70" filterBy="#{emp.id}" filterStyle="width: 95%" >
                            <p:outputLabel value="#{emp.id}"/>
                        </p:column>
                        <p:column headerText="Identificacion" filterBy="#{emp.identificacion}" filterStyle="width: 95%">
                            <p:outputLabel value="#{emp.identificacion}"/>
                        </p:column>
                        <p:column headerText="Nombre" filterBy="#{emp.nombre}" filterStyle="width: 95%">
                            <p:outputLabel value="#{emp.nombre}" />
                        </p:column>
                        <p:column headerText="HABILITADO" width="100">
                            <p:outputLabel value="#{emp.habilitado?'VEDADERO':'FALSE'}" />
                        </p:column>  
                    </p:dataTable>
                </h:form>

                <p:dialog widgetVar="dlgEmpresa" modal="true"  width="50%" responsive="true" closable="true" header="Empresa" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgEmpresa">
                        <p:panelGrid style="margin: 0 auto;">
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="2"><p:outputLabel value="REGISTRO DE EMPRESA" style="font-size: 15px; font-weight: bolder;"/></p:column>
                                </p:row>
                            </f:facet>
                            <p:row>
                                <p:column><p:outputLabel value="RUC" style="font-size: 15px; font-weight: bolder;"/></p:column>
                                <p:column><p:inputText value="#{empresas.empresa.identificacion}" size="75"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="NOMBRE" style="font-size: 15px; font-weight: bolder;"/></p:column>
                                <p:column><p:inputText value="#{empresas.empresa.nombre}" size="75"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="CORREO" style="font-size: 15px; font-weight: bolder;"/></p:column>
                                <p:column><p:inputText value="#{empresas.empresa.correo}" size="75"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="CERTIFICADO" style="font-size: 15px; font-weight: bolder;"/></p:column>
                                <p:column><p:inputText value="#{empresas.empresa.rutaCertificado}" size="75"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="CLAVE" style="font-size: 15px; font-weight: bolder;"/></p:column>
                                <p:column><p:inputText value="#{empresas.empresa.clave}" size="75"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="HABILITADO (CARTERA)" style="font-size: 15px; font-weight: bolder;"/></p:column>
                                <p:column><p:selectBooleanCheckbox value="#{empresas.empresa.habilitado}" style="width: 100px;"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    <center>
                                        <p:commandButton id="btnRegistrar" value="Actualizar" actionListener="#{empresas.actualizarEmpresa()}" update="mainForm" oncomplete="PF('dlgEmpresa').hide();"/>
                                    </center>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </body>
</html>