<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Usuarios
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <br/>
                    <p:dataTable value="#{usuarios.usuariosLazy}" var="u" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                 reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{u.id}"
                                 editable="true" editMode="cell">
                        <f:facet name="header">Usuarios</f:facet>
                        <p:column headerText="Id" width="70" filterBy="#{u.id}" filterStyle="width: 95%" >
                            <p:outputLabel value="#{u.id}"/>
                        </p:column>
                        <p:column headerText="Identificacion" filterBy="#{u.identificacion}" filterStyle="width: 95%">
                            <p:outputLabel value="#{u.identificacion}"/>
                        </p:column>
                        <p:column headerText="Nombre" filterBy="#{u.nombre}" filterStyle="width: 95%">
                            <p:outputLabel value="#{u.nombre}" />
                        </p:column>
                        <p:column headerText="Correo">
                            <p:cellEditor>
                                <f:facet name="output"><p:outputLabel value="#{u.correo}"/></f:facet>
                                <f:facet name="input">
                                    <p:inputText value="#{u.correo}"/>                  
                                </f:facet>
                            </p:cellEditor>
                        </p:column>
                        <p:column headerText="Reset Clave" width="70">
                            <p:commandButton icon="fa fa-refresh" actionListener="#{usuarios.resetarPassword(u)}"/>
                        </p:column>
                        <p:column headerText="Actualizar Correo" width="70">
                            <p:commandButton icon="fa fa-edit" actionListener="#{usuarios.editarUsuario(u)}" update="mainForm"/>
                        </p:column>
                    </p:dataTable>
                </h:form>
                
                <p:dialog widgetVar="dlgCorreo" modal="true"  width="50%" responsive="true" closable="true" header="CORREO" resizable="false" closeOnEscape="true" position="top">
                    <h:form id="frmdlgCorreo">
                        
                    </h:form>
                </p:dialog>
            </ui:define>
        </ui:composition>
    </body>
</html>