<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Consulta de Documentos
            </ui:define>
            <ui:define name="content">

                <p:tabView>
                    <p:tab title="General" id="tab1">
                        <h:form id="mainForm">
                            <p:panelGrid>
                                <p:row>
                                    <p:column><p:outputLabel value="Empresa:"/></p:column>
                                    <p:column>
                                        <p:selectOneMenu value="#{consulta.empresaSeleccionada}" converter="entityConverter" style="width: 92%;">
                                            <f:selectItem itemLabel="Todos" value="#{null}"/>
                                            <f:selectItems value="#{consulta.empresasList}" var="emp" itemLabel="#{emp.id}-#{emp.nombre}" itemValue="#{emp}"/>
                                        </p:selectOneMenu>
                                    </p:column>

                                    <p:column><p:outputLabel value="Identificación:"/></p:column>
                                    <p:column><p:inputText value="#{consulta.identificacion}" readonly="#{!consulta.administrador}" size="50"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="Fecha:"/></p:column>
                                    <p:column>
                                        <p:selectBooleanCheckbox value="#{consulta.todosDocs}" style="width: 100px;" itemLabel="Todos"/>
                                        <p:calendar value="#{consulta.fecha}" pattern="dd/MM/yyyy" navigator="true"/>
                                    </p:column>

                                    <p:column><p:outputLabel value="Documento:"/></p:column>
                                    <p:column>
                                        <p:selectOneMenu value="#{consulta.docSeleccionado}" style="width: 92%;">
                                            <f:selectItem itemLabel="Todos"             value="#{null}"/>
                                            <f:selectItem itemLabel="Factura"           itemValue="FAC"/>
                                            <f:selectItem itemLabel="Nota de Credito"   itemValue="NCR"/>
                                            <f:selectItem itemLabel="Nota de Debido"    itemValue="debito"/>
                                            <f:selectItem itemLabel="Retención"         itemValue="RET"/>
                                            <f:selectItem itemLabel="Guía de Remisión"  itemValue="GUI"/>
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="Número Documento:"/></p:column>
                                    <p:column><p:inputText value="#{consulta.numeroDoc}" size="50"/></p:column>

                                    <p:column><p:outputLabel value="Clave Acceso:"/></p:column>
                                    <p:column><p:inputText value="#{consulta.claveAcceso}" size="50"/></p:column>
                                </p:row>
                                <p:row>
                                    <p:column><p:outputLabel value="Correo:"/></p:column>
                                    <p:column><p:inputText value="#{consulta.correo}" size="50"/></p:column>

                                    <p:column colspan="2">
                                        <center><p:commandButton id="btnConsultarDoc" value="Consultar" icon="fa fa-search" actionListener="#{consulta.realizarConsulta()}" update="dtDocumentos"/></center>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                            <p:blockUI block="dtDocumentos" trigger="mainForm:btnConsultarDoc"/>
                            <p:spacer height="20"/>
                            <p:dataTable id="dtDocumentos" value="#{consulta.autorizadosLazy}" var="doc" emptyMessage="No se encontraron registros" lazy="true" paginator="true"
                                         reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" rowKey="#{doc.id}">
                                <f:facet name="header">Documentos</f:facet>
                                <p:column headerText="Cliente">
                                    <p:outputLabel value="#{doc.usuarioId.nombre}"/>
                                </p:column>
                                <p:column headerText="Tipo">
                                    <p:outputLabel value="#{doc.documento}"/>
                                </p:column>
                                <p:column headerText="Documento">
                                    <p:outputLabel value="#{doc.numeroDocumento}"/>
                                </p:column>
                                <p:column headerText="Emision">
                                    <p:outputLabel value="#{doc.fechaEmision}"/>
                                </p:column>
                                <p:column headerText="Valor" width="80" style="text-align: right;">
                                    <p:outputLabel value="#{doc.total}"/>
                                </p:column>
                                <p:column headerText="PDF" width="80">
                                    <p:commandButton icon="fa fa-file-pdf-o" actionListener="#{consulta.descargarPdf(doc)}" ajax="false"/>
                                </p:column>
                                <p:column headerText="XML" width="80">
                                    <p:commandButton icon="fa fa-file-text" actionListener="#{consulta.descargarXml(doc)}" ajax="false"/>
                                </p:column>
                                <p:column headerText="Email" width="80">
                                    <p:commandButton icon="fa fa-envelope" actionListener="#{consulta.enviarCorreo(doc)}"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </p:tab>

                    <p:tab title="Rango de Fechas">
                        <h:form id="form2">
                            <p:panelGrid>
                                <p:row>
                                    <p:column><p:outputLabel value="Desde:"/></p:column>
                                    <p:column>
                                        <p:calendar value="#{consulta.desde}" pattern="dd/MM/yyyy" navigator="true"/>
                                    </p:column>
                                    <p:column><p:outputLabel value="Hasta:"/></p:column>
                                    <p:column>
                                        <p:calendar value="#{consulta.hasta}" pattern="dd/MM/yyyy" navigator="true"/>
                                    </p:column>
                                    <p:column>
                                        <center><p:commandButton id="btnConsultarDoc" value="Consultar" icon="fa fa-search" actionListener="#{consulta.realizarConsulta2()}" update="form2"/></center>
                                    </p:column>
                                    
                                </p:row>
                                <p:row>
                                    <p:column colspan="4">
                                        <p:outputLabel value="Cantidad de registros encontrados: #{consulta.autorizados.size()}"/>
                                    </p:column>
                                    <p:column>
                                        <center><p:commandButton id="btnEnviarCorreo" value="Enviar E-Mail masivo" icon="fa fa-search" actionListener="#{consulta.enviarCorreos()}" update="dtDocumentos"/></center>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                            <p:blockUI block="dtDocumentos" trigger="form2:btnConsultarDoc"/>
                            <p:spacer height="20"/>
                            <p:dataTable id="dtDocumentos" value="#{consulta.autorizados}" var="doc" emptyMessage="No se encontraron registros"
                                         reflow="true" >
                                <f:facet name="header">Documentos</f:facet>
                                <p:column headerText="Cliente">
                                    <p:outputLabel value="#{doc.nombre}"/>
                                </p:column>
                                <p:column headerText="Tipo">
                                    <p:outputLabel value="#{doc.documento}"/>
                                </p:column>
                                <p:column headerText="Documento">
                                    <p:outputLabel value="#{doc.numerodocumento}"/>
                                </p:column>
                                <p:column headerText="Emision">
                                    <p:outputLabel value="#{doc.fechaemision}"/>
                                </p:column>
                                <p:column headerText="Valor" width="80" style="text-align: right;">
                                    <p:outputLabel value="#{doc.total}"/>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </p:tab>
                </p:tabView>

            </ui:define>
        </ui:composition>
    </body>
</html>