<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    
    <f:view contentType="text/html" locale="es" encoding="UTF-8"/>
    <f:event type="preRenderView" listener="#{usuarioSession.redirectInvitado()}"/>
    <h:head>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['poseidon-layout/images/favicon.ico']}"/>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta name="theme-color" content="#{guestPreferences.themeColors[guestPreferences.theme]}" />
        </f:facet>
        <title><ui:insert name="title">Camila Facturacion Electronica</ui:insert></title>
        <ui:insert name="head"/>
        <h:outputScript name="js/nanoscroller.js" library="poseidon-layout" />
        <h:outputScript name="js/layout.js" library="poseidon-layout" />
        <h:outputScript name="js/swipe.js" library="poseidon-layout" />
    </h:head>

    <h:body>
        <p:growl globalOnly="true">
            <p:autoUpdate/>
        </p:growl>
        <div class="layout-wrapper #{guestPreferences.menuLayout}">
            <ui:include src="./topbar.xhtml" />
            <ui:include src="./menu.xhtml" />
            <div id="topData" class="layout-main">
                <div class="layout-main-content">
                    <ui:insert name="content"/>
                </div>
            </div>            
        </div>
        
        <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
           <f:facet name="start">
               <i class="fa fa-circle-o-notch fa-spin ajax-loader" aria-hidden="true"></i>
           </f:facet>
           <f:facet name="complete">
               <h:outputText value="" />
           </f:facet>
       </p:ajaxStatus>
        
        <h:outputStylesheet name="css/nanoscroller.css" library="poseidon-layout" />
        <h:outputStylesheet name="css/animate.css" library="poseidon-layout" />
        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="poseidon-layout" />
    </h:body>

</html>