<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pp="http://primefaces.org/poseidon">
    
    <h:form id="menuform"> 
        <div class="layout-menu-container">
            <div class="nano">
                <div class="nano-content menu-scroll-content">
                    <br/>
                    <pp:menu widgetVar="me" model="#{menuView.model}">
                        
                    </pp:menu> 
                </div>
            </div>
        </div>
    </h:form>
</ui:composition>