
<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:po="http://primefaces.org/poseidon">

    <div class="topbar clearfix">
        <div class="topbar-left"> 
            <!--<div class="logo"></div> logoGMAcolor-->
            <p:graphicImage name="images/#{usuarioSession.empresa ne null ?usuarioSession.empresa.identificacion:'logoGMAcolor'}.png" library="poseidon-layout" height="60"/>
        </div>        
        <div class="topbar-right">
            
            <a id="menu-button" href="#">
                <i class="fa fa-angle-left"></i>
            </a>
            <p:outputLabel value="Docs. Electrónicos" style="font-size: 15px; font-weight: bolder;"/>
            <ui:insert name="subtitle"/>
            <a id="topbar-menu-button" href="#">
                <i class="fa fa-bars"></i>
            </a> 
            <ul class="topbar-items fadeInDown animated">
                <li class="profile-item">
                    <a href="#">                            
                        <div class="profile-image"></div>
                        <span class="topbar-item-name">#{usuarioSession.usuario.nombre}</span>
                    </a>
                    
                    <ul class="poseidon-menu animated">
                       
                        <li role="menuitem">
                            <a href="#{appConfig.urlbaseFaces}/index.xhtml">
                                <i class="fa fa-fw fa-user"></i>
                                <span>Perfil</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#{appConfig.urlbaseFaces}/index.xhtml">
                                <i class="fa fa-fw fa-cog"></i>
                                <span>Cambiar contraseña</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            
                            <a href="#{appConfig.urlbaseFaces}/logout.xhtml">
                                <i class="fa fa-fw fa-sign-out"></i>
                                <span>Cerrar sesion</span>
                            </a>
                            
                        </li>
                            
                    </ul>
                </li>
            </ul>
            <ui:insert name="datos"/>            
        </div>
    </div>

</ui:composition>