<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['poseidon-layout/images/favicon.ico']}"/>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>Login Doc. Elect.</title>
    </h:head>

    <h:body styleClass="login-body">        
        <h:form id="loginForm">
            <p:growl globalOnly="true">
                <p:autoUpdate/>
            </p:growl>
            <p:outputLabel value="Documentos Electrónicos" style="font-size: 30px; font-weight: bolder;"/>
            <div class="login-panel ui-fluid">
                <div class="ui-g">
                    <div class="ui-g-12 logo-container">
                        <p:graphicImage name="images/login/logoGMAcolor.png" library="poseidon-layout" />
                    </div>                                       
                    <div class="ui-g-12">
                        <p:inputText placeholder="Username" value="#{login.identificacion}">
                            <p:ajax update="loginForm"/>
                        </p:inputText>
                    </div>
                    <div class="ui-g-12">
                        <p:password placeholder="Password" value="#{login.password}" feedback="false"/>
                    </div>
                    <div id="empresaid" class="ui-g-12">
                        <p:inputText placeholder="Empresa" value="#{login.empresa}" rendered="#{login.identificacion ne null?(login.identificacion eq 'administrador'):false}"/>
                    </div>
                    <div class="ui-g-12 chkbox-container">
                        <p:selectBooleanCheckbox id="remember-me" />
                        <p:outputLabel for="remember-me" value="Recordar credenciales"/>
                    </div>
                    <div class="ui-g-12 button-container">
                        <p:commandButton value="Ingrese" actionListener="#{login.acceder()}" icon="fa fa-user" styleClass="turquoise-btn"/>
                        <p:commandButton value="Olvidó su clave"  icon="fa fa-key" styleClass="blue-btn" />
                    </div>
                </div>
            </div>
        </h:form>
        <p:ajaxStatus style="width:32px;height:32px;position:fixed;right:7px;bottom:7px">
            <f:facet name="start">
                <i class="fa fa-circle-o-notch fa-spin ajax-loader" aria-hidden="true"></i>
            </f:facet>
            <f:facet name="complete">
                <h:outputText value="" />
            </f:facet>
        </p:ajaxStatus>
        <h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="poseidon-layout" />
    </h:body>

</html>