<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Autorizacion de Documentos
            </ui:define>
            <ui:define name="subtitle">
                <p:outputLabel value="/ Autorizacion de Documentos" style="font-size: 15px; font-weight: bolder;"/>
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:inputText rendered="false" value="#{autorizacionDocumentos.tipo}" size="3"/>
                    <p:inputText rendered="false" value="#{autorizacionDocumentos.claveAcceso}" size="70"/>
                    <p:commandButton rendered="false" value="CONSULTAR" actionListener="#{autorizacionDocumentos.testConsultar()}"/>
                    <p:blockUI block="tvDatos" trigger="mainForm:tvDatos:btnConsultarFact,mainForm:tvDatos:btnConsultarRet,mainForm:tvDatos:btnConsultarGp,mainForm:tvDatos:btnConsultarNc,mainForm:tvDatos:btnAutorizarFact,mainForm:tvDatos:btnAutorizarRet,mainForm:tvDatos:btnAutorizarGp,mainForm:tvDatos:btnAutorizarNc" />
                    <p:fieldset legend="FECHAS">
                        <p:outputLabel value="Desde:"/><p:calendar value="#{autorizacionDocumentos.fechaDesde}" pattern="dd/MM/yyyy" navigator="true"/>
                        <p:spacer width="40"/>
                        <p:outputLabel value="Hasta:"/><p:calendar value="#{autorizacionDocumentos.fechaHasta}" pattern="dd/MM/yyyy" navigator="true"/>
                    </p:fieldset>
                    <p:tabView id="tvDatos">
                        <p:tab id="tvFacturas" title="1. Facturas">                            
                            <p:spacer width="40"/>
                            <p:commandButton id="btnConsultarFact" value="Consultar" icon="fa fa-search" actionListener="#{autorizacionDocumentos.consultarFacturas()}" update="dtFacturas"/>
                            <p:spacer width="70" height="0"/>
                            <p:selectBooleanCheckbox value="#{autorizacionDocumentos.todos}" style="width: 100px;" itemLabel="Todos"/>
                            <p:commandButton id="btnAutorizarFact" value="Autorizar" icon="fa fa-share-square-o" actionListener="#{autorizacionDocumentos.autorizarFacturas()}" update="mainForm"/>
                            <br/><br/>
                            <p:dataTable id="dtFacturas" value="#{autorizacionDocumentos.facturas}" var="fac" emptyMessage="No se encontraron registros" 
                                         paginator="true" rowKey="#{fac.FACCVT_numsecuenc}"
                                         reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" 
                                         selection="#{autorizacionDocumentos.facturasSeleccionadas}">
                                <p:column selectionMode="multiple" style="width:25px;text-align:center;"/>
                                <f:facet name="header">Facturas</f:facet>
                                <p:column headerText="Id" width="70" filterBy="#{fac.FACCVT_numsecuenc}" filterMatchMode="exact" filterStyle="width: 95%" >
                                    <p:outputLabel value="#{fac.FACCVT_numsecuenc}"/>
                                </p:column>
                                <p:column headerText="Tipo" width="70" filterBy="#{fac.GENTDO_codigo}" filterStyle="width: 95%" >
                                    <p:outputLabel value="#{fac.GENTDO_codigo}"/>
                                </p:column>
                                <p:column headerText="N. Doc" width="200" filterBy="#{fac.FACCVT_numdocumen}" filterStyle="width: 95%" >
                                    <p:outputLabel value="#{fac.FACCVT_numdocumen}"/>
                                </p:column>
                                <p:column headerText="Emision" width="100">
                                    <p:outputLabel value="#{fac.FACCVT_fechaemisi}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </p:outputLabel>
                                </p:column>
                                <p:column headerText="C. Cliente" width="70" filterBy="#{fac.CXCCLI_codigo}" filterStyle="width: 95%" >
                                    <p:outputLabel value="#{fac.CXCCLI_codigo}"/>
                                </p:column>
                                <p:column headerText="Cliente" filterBy="#{fac.CXCCLI_razonsocia}" filterStyle="width: 95%" >
                                    <p:outputLabel value="#{fac.CXCCLI_razonsocia}"/>
                                </p:column>
                                <p:column headerText="Neto" style="text-align: right;" width="100">
                                    <p:outputLabel value="#{fac.FACCVT_netomov}">
                                        <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                    </p:outputLabel>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                        <p:tab id="tvRetenciones" title="2. Retenciones">
                            <p:spacer width="40"/>
                            <p:commandButton id="btnConsultarRet" value="Consultar" icon="fa fa-search" actionListener="#{autorizacionDocumentos.consultarRetenciones()}" update="dtRetenciones"/>
                            <p:spacer width="70" height="0"/>
                            <p:selectBooleanCheckbox value="#{autorizacionDocumentos.todosRetenciones}" style="width: 100px;" itemLabel="Todos"/>
                            <p:commandButton id="btnAutorizarRet" value="Autorizar" icon="fa fa-share-square-o" actionListener="#{autorizacionDocumentos.autorizarRetenciones()}" update="dtRetenciones"/>
                            <br/><br/>
                            <p:dataTable id="dtRetenciones" value="#{autorizacionDocumentos.retenciones}" var="ret" emptyMessage="No se encontraron registros" 
                                         paginator="true" rowKey="#{ret.CXPDOC_codigo}"
                                         reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" 
                                         selection="#{autorizacionDocumentos.retencionesSeleccionadas}">
                                <p:column selectionMode="multiple" style="width:25px;text-align:center;"/>
                                <f:facet name="header">Retenciones</f:facet>
                                <p:column headerText="Codigo" width="90" filterBy="#{ret.CXPDOC_codigo}" filterMatchMode="exact" filterStyle="width: 95%" >
                                    <p:outputLabel value="#{ret.CXPDOC_codigo}"/>
                                </p:column>
                                <p:column headerText="Secuencia" filterBy="#{ret.secuencia}" filterStyle="width: 95%" >
                                    <p:outputLabel value="#{ret.secuencia}"/>
                                </p:column>
                                <p:column headerText="Emision" width="100">
                                    <p:outputLabel value="#{ret.CXPPRO_fechadocum}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </p:outputLabel>
                                </p:column>
                                <p:column headerText="C. Proveedor" width="100" filterBy="#{ret.CXPPRO_codigo}" filterStyle="width: 95%" >
                                    <p:outputLabel value="#{ret.CXPPRO_codigo}"/>
                                </p:column>
                                <p:column headerText="Proveedor" filterBy="#{ret.CXPPRO_razonsocia}" filterStyle="width: 95%" >
                                    <p:outputLabel value="#{ret.CXPPRO_razonsocia}"/>
                                </p:column>
                                <p:column headerText="Valor" style="text-align: right;" width="100">
                                    <p:outputLabel value="#{ret.valor}">
                                        <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                    </p:outputLabel>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                        <p:tab id="tvGuias" title="3. GUIAS PLANIFICADAS">
                            <p:spacer width="40"/>
                            <p:commandButton id="btnConsultarGp" value="Consultar" icon="fa fa-search" actionListener="#{autorizacionDocumentos.consultarGuiasPlanificadas()}" update="dtGuias"/>
                            <p:spacer width="70" height="0"/>
                            <p:selectBooleanCheckbox value="#{autorizacionDocumentos.todosGuias}" style="width: 100px;" itemLabel="Todos"/>
                            <p:commandButton id="btnAutorizarGp" value="Autorizar" icon="fa fa-share-square-o" actionListener="#{autorizacionDocumentos.autorizarGuiasPlanificadas()}" update="mainForm"/>
                            <br/><br/>
                            <p:dataTable id="dtGuias" value="#{autorizacionDocumentos.guiasPlanificadas}" var="gp" emptyMessage="No se encontraron registros" 
                                         paginator="true" rowKey="#{gp.INVCPF_numguia}"
                                         reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" 
                                         selection="#{autorizacionDocumentos.guiasPlanificadasSeleccionadas}">
                                <p:column selectionMode="multiple" style="width:25px;text-align:center;"/>
                                <f:facet name="header">GUIAS PLANIFICADAS</f:facet>
                                <p:column headerText="Codigo" width="90" filterBy="#{gp.INVCPF_numguia}" filterMatchMode="exact" filterStyle="width: 95%" >
                                    <p:outputLabel value="#{gp.INVCPF_numguia}"/>
                                </p:column>
                                <p:column headerText="Emision" width="100">
                                    <p:outputLabel value="#{gp.INVCPF_fecha}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </p:outputLabel>
                                </p:column>
                                <p:column headerText="Camion" width="100" filterBy="#{gp.INVCAM_codigo}" filterStyle="width: 95%" >
                                    <p:outputLabel value="#{gp.INVCAM_codigo}"/>
                                </p:column>
                                <p:column headerText="Ruta" filterBy="#{gp.CXCRUT_codrutadis}" filterStyle="width: 95%" >
                                    <p:outputLabel value="#{gp.CXCRUT_codrutadis}"/>
                                </p:column>
                                <p:column headerText="Motivo" filterBy="#{gp.INVCPF_motivo}" filterStyle="width: 95%" >
                                    <p:outputLabel value="#{gp.INVCPF_motivo}"/>
                                </p:column>
                                <p:column headerText="Peso" style="text-align: right;" width="100">
                                    <p:outputLabel value="#{gp.INVCPF_totalpeso}">
                                        <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                    </p:outputLabel>
                                </p:column>
                                <p:column headerText="Volumen" style="text-align: right;" width="100">
                                    <p:outputLabel value="#{gp.INVCPF_totalvolum}">
                                        <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                    </p:outputLabel>
                                </p:column>
                                <p:column headerText="#Doc" style="text-align: right;" width="100">
                                    <p:outputLabel value="#{gp.INVCPF_totaldocum}"/>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                        <p:tab id="tvNotas" title="4. Notas Credito">
                            <p:spacer width="40"/>
                            <p:commandButton id="btnConsultarNc" value="Consultar" icon="fa fa-search" actionListener="#{autorizacionDocumentos.consultarNotasCreditoCxct()}" update="dtNotas"/>
                            <p:spacer width="70" height="0"/>
                            <p:selectBooleanCheckbox value="#{autorizacionDocumentos.todosNc}" style="width: 100px;" itemLabel="Todos"/>
                            <p:commandButton id="btnAutorizarNc" value="Autorizar" icon="fa fa-share-square-o" actionListener="#{autorizacionDocumentos.autorizarNotasCreditoCxct()}" update="mainForm"/>
                            <br/><br/>
                            <p:dataTable id="dtNotas" value="#{autorizacionDocumentos.notasCreditoCxct}" var="nc" emptyMessage="No se encontraron registros" 
                                         paginator="true" rowKey="#{nc.CXCDEU_numesecuen}"
                                         reflow="true" filterEvent="enter" rows="10" rowsPerPageTemplate="10,20,50" paginatorPosition="top" 
                                         selection="#{autorizacionDocumentos.notasCreditoCxctSeleccionadas}">
                                <p:column selectionMode="multiple" style="width:25px;text-align:center;"/>
                                <f:facet name="header">NOTAS DE CREDITO CXC</f:facet>
                                <p:column headerText="Codigo" width="90" filterBy="#{nc.CXCDEU_numesecuen}" filterMatchMode="exact" filterStyle="width: 95%" >
                                    <p:outputLabel value="#{nc.CXCDEU_numesecuen}"/>
                                </p:column>
                                <p:column headerText="Emision" width="100">
                                    <p:outputLabel value="#{nc.CXCDEU_fechaemisi}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </p:outputLabel>
                                </p:column>
                                <p:column headerText="Cliente" width="100" filterBy="#{nc.CXCCLI_codigo}" filterStyle="width: 95%" >
                                    <p:outputLabel value="#{nc.CXCCLI_codigo}"/>
                                </p:column>
                                <p:column headerText="N. Documento" filterBy="#{nc.CXCDEU_numdocumen}" filterStyle="width: 95%" >
                                    <p:outputLabel value="#{nc.CXCDEU_numdocumen}"/>
                                </p:column>
                                <p:column headerText="Concepto" filterBy="#{nc.CXCDEU_concepto}" filterStyle="width: 95%" >
                                    <p:outputLabel value="#{nc.CXCDEU_concepto}"/>
                                </p:column>
                                <p:column headerText="Peso" style="text-align: right;" width="100">
                                    <p:outputLabel value="#{nc.CXCDEU_imptomov}">
                                        <f:convertNumber pattern="#,##0.00" locale="en_US"/>
                                    </p:outputLabel>
                                </p:column>
                            </p:dataTable>
                        </p:tab>
                    </p:tabView>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>