<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Carga de Datos
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:fieldset id="frmdlgPago" legend="CARGAR DATOS">
                        <p:panelGrid>
                            <p:row>
                                <p:column><p:outputLabel value="Desde:"/></p:column>
                                <p:column><p:calendar value="#{cargaDatos.fechaDesde}" pattern="dd/MM/yyyy" navigator="true"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column><p:outputLabel value="Hasta:"/></p:column>
                                <p:column><p:calendar value="#{cargaDatos.fechaHasta}" pattern="dd/MM/yyyy" navigator="true"/></p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="2">
                                    <p:commandButton id="btnProcesar" value="Procesar" icon="fa fa-cloud-upload" actionListener="#{cargaDatos.procesarDatos()}"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <p:blockUI block="frmdlgPago" trigger="btnProcesar" />
                    </p:fieldset>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>