<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                Registro de Empresa
            </ui:define>
            <ui:define name="subtitle">
                <p:outputLabel value="/ Registro de Empresa" style="font-size: 15px; font-weight: bolder;"/>
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:panelGrid style="margin: 0 auto;">
                        <f:facet name="header">
                            <p:row>
                                <p:column colspan="2"><p:outputLabel value="REGISTRO DE EMPRESA" style="font-size: 15px; font-weight: bolder;"/></p:column>
                            </p:row>
                        </f:facet>
                        <p:row>
                            <p:column><p:outputLabel value="RUC" style="font-size: 15px; font-weight: bolder;"/></p:column>
                            <p:column><p:inputText value="#{registroEmpresa.empresa.identificacion}" size="75"/></p:column>
                        </p:row>
                        <p:row>
                            <p:column><p:outputLabel value="NOMBRE" style="font-size: 15px; font-weight: bolder;"/></p:column>
                            <p:column><p:inputText value="#{registroEmpresa.empresa.nombre}" size="75"/></p:column>
                        </p:row>
                        <p:row>
                            <p:column><p:outputLabel value="CORREO" style="font-size: 15px; font-weight: bolder;"/></p:column>
                            <p:column><p:inputText value="#{registroEmpresa.empresa.correo}" size="75"/></p:column>
                        </p:row>
                        <p:row>
                            <p:column><p:outputLabel value="CERTIFICADO" style="font-size: 15px; font-weight: bolder;"/></p:column>
                            <p:column><p:inputText value="#{registroEmpresa.empresa.rutaCertificado}" size="75"/></p:column>
                        </p:row>
                        <p:row>
                            <p:column><p:outputLabel value="CLAVE" style="font-size: 15px; font-weight: bolder;"/></p:column>
                            <p:column><p:inputText value="#{registroEmpresa.empresa.clave}" size="75"/></p:column>
                        </p:row>
                        <p:row>
                            <p:column><p:outputLabel value="HABILITADO (CARTERA)" style="font-size: 15px; font-weight: bolder;"/></p:column>
                            <p:column><p:selectBooleanCheckbox value="#{registroEmpresa.empresa.habilitado}" style="width: 100px;"/></p:column>
                        </p:row>
                        <p:row>
                            <p:column colspan="2">
                                <center>
                                    <p:commandButton id="btnRegistrar" value="Registrar" actionListener="#{registroEmpresa.registrarEmpresa()}" update="mainForm"/>
                                </center>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                    <p:blockUI block="mainForm" trigger="btnRegistrar" />
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>