<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="/template/mainTemplate.xhtml">
            <ui:define name="title">
                TEST
            </ui:define>
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:commandButton value="test" actionListener="#{testMb.testConsulta()}"/>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>